/* || RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || GENERAL */
:root{
  --PADDING: 0 40px 0 40px;
  --MAINCOLOR: #00ff00e6;
  --ACCENTCOLOR: white;
  --FONTCOLOR: #DFE1EA;
}
.dark{
  
}

body{
  background-size: 16px 16px;
  background-attachment: fixed;
  color: var(--FONTCOLOR);
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  padding: 0 1.5vw 0 1.5vw;
  z-index: -100;
  background: #1E1E1E;

}
.App{
  height: 90vh;
  background: #1E1E1E;

}

a{
  text-decoration: none;
  color: var(--FONTCOLOR)
}
a:hover{
  color: var(--MAINCOLOR);
}
ol{
  list-style-type: none;
}
img{
  display: block
}

.nav-wrapper{
  position: sticky
}


@media screen and (min-width: 1020px){
  body{
    width: 95vw
  }
}



