/* || RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || GENERAL */
:root{
  --PADDING: 0 40px 0 40px;
  --MAINCOLOR: #00ff00e6;
  --ACCENTCOLOR: white;
  --FONTCOLOR: #DFE1EA;
}

body{
  background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px;
  background-attachment: fixed;
  background-color: #313441;
  color: var(--FONTCOLOR);
  margin: 0 auto;
  width: 90vw;
  height: 90%;
  /* font-family: 'Lato', sans-serif; */
  padding: 0 1.5vw 0 1.5vw;
  z-index: -100;
}
.App{
  height: 90vh;
}

a{
  text-decoration: none;
  color: var(--FONTCOLOR)
}
a:hover{
  color: var(--MAINCOLOR);
}
ol{
  list-style-type: none;
}
img{
  display: block
}

.nav-wrapper{
  position: sticky
}


@media screen and (min-width: 1020px){
  body{
    width: 95vw
  }
}



