/* || HERO */
.hero{
    position: relative;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 0 auto;
}
span{
    white-space: nowrap;
}
.hero__text{
    position: relative;
    z-index: 2;
    font-size: 1rem;
}
.hero__text.active{
    left: -400%;
}
.hero__p, .hero__heading{
    padding-top: 0.8rem;
}
.hero__p{
    font-size: 1em;
    width: 60vw;
    font-weight:350;
    margin: auto
}
.full-name{
    white-space: nowrap;
    font-size: 1.05em;
    font-weight: 700;
    line-height: 2rem;
    color: var(--MAINCOLOR);
    -webkit-text-stroke: 0;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: currentcolor;
}

.hero__link-wrapper{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin: 30px 0;
}
.hero__link::before{
    content: "\21A3";
    color: var(--MAINCOLOR);
    font-size: 1.2em;
}
.hero__link{
    transition: all 0.5s;
    font-size: .8em;
    font-weight: 100;
}
.hero__link:hover{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cv_link{
    font-size: .8rem;
    font-weight: 100;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0px 4px rgba(255, 254, 254, 0.1);
    transition: 0.7s;
    border: 2px solid rgba(255, 255, 255, 0.4);
    z-index: 2;
}
.cv_link:hover{
    color: white;
    border: 1px solid lime;
}
/*|| Hero Socials */
.hero__social-wrapper{
    display: flex;
    justify-content: center;
}
.hero__social-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.hero__social__image{
    width: 35px;
    height: 35px;
    padding: 10px;
}

/* .hero__email:hover{
    background: url("img/emailFilled.png") no-repeat;
}

.hero__linkedin{
    background: url("img/linkedinStroke.png") no-repeat
}
.hero__linkedin:hover{
    background: url("img/linkedinFilled.png") no-repeat;
}
 */

/* || Animated Boxes*/
.hero__box{
    position: absolute;
    border-radius: 2px;
    width: 15px;
    height: 15px;

    border: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    color:#fff;
    z-index: -1;
    animation: animate 15s linear infinite;
}
@keyframes animate {
    0%, 100%{
        transform: translateY(-55px);
    }
    50%{
        transform: translateY(30px);
    }
}

.hero__box:nth-child(1){
    top: 5%;
    left: 40%;
    animation-delay: calc(-2s * 1)
}
.hero__box:nth-child(2){
    top:20%;
    left: 15%;
    animation-delay: calc(-2s * 2)
}
.hero__box:nth-child(3){
    top: 25%;
    right: 10%;
    animation-delay: calc(-2s * 3)
}
.hero__box:nth-child(4){
    top: 40%;
    right: 30%;
    animation-delay: calc(-4s * 12)
}
.hero__box:nth-child(5){
    top: 48%;
    left: 55%;
    animation-delay: calc(-1s * 5)
}
.hero__box:nth-child(6){
    top: 55%;
    left: 10%;
    animation-delay: calc(-2s * 6)
}
.hero__box:nth-child(7){
    top: 65%;
    left: 30%;
    animation-delay: calc(-1s * 7)
}
.hero__box:nth-child(8){
    top: 70%;
    right: 15%;
    animation-delay: calc(-5s * 8)
}
.hero__box:nth-child(9){
    top: 85%;
    left: 20%;
    animation-delay: calc(-3s * 9)
}
.hero__box:nth-child(10){
    top: 95%;
    right: 40%;
    animation-delay: calc(-3s * 10)
}


/*|| MEDIA QUERY */
@media screen and (max-width: 350px){
    .hero__p{
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 600px){
    .hero__text{
        font-size:1.3rem
    }
    .cv_link{
        font-size: 1rem;
        padding: 2px 5px;
        border-radius: 4px;
    }
}
@media screen and (min-width: 1020px){
    .hero__text{
        font-size:1.5rem
    }
    .hero__p{
        font-size: 1em;
        width: 60vw;
    }
    .hero__link-wrapper{
        flex-direction: row;
        width: auto;
        justify-content:center;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .hero__social-wrapper{
        margin-top: 60px;
    }
    .hero__social__image{
        width: 45px;
        height: 45px;
    }
    .hero__social__image:hover{
        transform: scale(1.3);
    }

    .cv_link{
        font-size: 1rem;
        padding: 5px 10px;
        font-weight: 100;
    }
}
@media screen and (min-width: 2500px){
    .hero__text{
        font-size:2rem
    }
}
