
.project{
    margin: 2rem auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
.project.active{
    display: none;
}
.project__card{
    position: relative;
    width: 320px;
    min-height: 320px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    transition: 0.7s;
    padding: 20px 20px;
    overflow: hidden;
}


.project__card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: rgba(229, 235, 238, 0.7);
    transform: skewX(45deg) translateX(550px);
    transition: 1s;
}
.project__card:hover::before{
    transform: skewX(45deg) translateX(-450px)
} 


.project__title{
    color: var(--MAINCOLOR);
    padding-bottom: 0.75rem;
    font-size: 2em;
}
.project__p{
    justify-content: flex-end;
    font-size: 1em;
}

.project__link-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__link{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.project__icon{
    width: 25px;
    color: #fff;
}
.project__tools{
    color: var(--MAINCOLOR);
    font-size: 1rem
}

@media screen and (min-width: 600px){
    .project__card{
        font-size:1.2rem
    }
}

@media screen and (min-width: 1020px){
    .project__card:hover{
        border: 1px solid lime;
    }
    .project__title{
        font-size: 2rem
    }
    .project__card{
        min-height: 320px;
        max-height: 400px;
        width: 320px;
    }

}
